<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jq.blog.mapper.BlogMapper">
    <insert id="insertBlog">
        INSERT INTO blog(title,author,time,p1,p2,p3,stitle,tags,hits,comments,audit)
        VALUES (#{title},#{author},#{time},#{p1},#{p2},#{p3},#{stitle},#{tags},#{hits},#{comments},#{audit})
    </insert>

    <select id="getBlogById" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM  blog WHERE id=#{id} AND audit=1
    </select>

    <select id="getAllBlogs" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM blog limit #{page},4
    </select>

    <select id="getAllBlogsBMS" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM blog limit #{page},10
    </select>

    <update id="updateBlogHits">
        UPDATE blog SET hits=#{hits} WHERE id=#{id}
    </update>

    <update id="updateBlogAudit">
        UPDATE blog SET audit=#{audit} WHERE id=#{id}
    </update>

    <update id="updateBlogComments" >
        UPDATE blog SET comments=#{comments} WHERE id=#{id}
    </update>

    <select id="countBlogs" resultType="int">
        SELECT COUNT(*) FROM blog
    </select>

    <select id="getNewBlogs" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM blog WHERE audit=1 ORDER BY TIME DESC limit 0,3
    </select>

    <select id="searchBlogs" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM blog WHERE title LIKE #{title} OR tags LIKE #{tags}
    </select>

    <select id="searchBlogsBMS" resultType="com.jq.blog.entities.Blog">
        SELECT * FROM blog WHERE title LIKE #{title}
        <if test="audit != null and audit !=''">AND audit=#{audit}</if>
        <if test="tags != null and tags !=''"> AND tags LIKE #{tags}</if>
    </select>

    <delete id="delectBlogById">
        DELETE FROM blog WHERE id=#{id}
    </delete>
</mapper>